.container {
    margin: 0 auto;
    max-width: 600px;
    font-family: arial;
}

.main {
    margin-top: 50px;
}

.heading {
    text-align: center;
}

table {
    margin: 20px auto;
}

p {
    margin-block-end: 0em;
}

.button {
	font-size:15px;
	font-weight:bold;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
	cursor:pointer;
	border-radius:6px;
	border:1px solid #dcdcdc;
    width: 30%;
	display: inline-block;
	margin: .5em;
	padding: 1em 2em;
}

.button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.button:active {
	position:relative;
	top:1px;
}

.button:focus {
    outline: 0;
}

th {
    background-color: gainsboro;
    padding: .3em 1em;
}

td {
    text-align:center;
}


